.scroll_bar{
    -fx-background-color: #FFFFFF;
}

.scroll_bar:horizontal, .scroll-bar:vertical{
    -fx-background-color: transparent;
}

.scroll_bar:vertical .thumb{
	-fx-background-color: #212121;
}


.emoji_bar{
    -fx-background-color: #FFFFFF;
}

.emoji_bar:horizontal, .scroll-bar:vertical{
    -fx-background-color: transparent;
}

.emoji_bar:vertical .thumb{
	-fx-background-color: #429eec;
}